*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #748CAB;
}
.container{
    background-color: #F0EBD8;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0rem 1rem 0rem;
}
form input,select,button{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid grey;
    background-color: #fff;
    width: 6rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0rem 2rem 0rem;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}